* {
    margin: 0;
    padding: 0;
}


/**first heding-aria**/

.manag-img img {
    width: 100%;
    height: 400px;
}


.title {
    width: 100%;
}

.manag-title span strong {
    text-transform: uppercase;
    font-size: 30px;
}

.manag-title {
    margin: 20px 0px;
}


.text-primary {
    color: #007bff !important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.manag-title p {
    color: #ccc;
    margin-top: 10px;
    font-size: 14px;
}



.page-1 p {
    color: #ccc;
    font-size: 14px;
}

.page-1 {
    border: 1px solid #c0daf0a8;
    padding: 10px 14px;
}

.page-2 span {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 4px 13px;
    border: 1px solid #c0daf0a8;
    margin: 20px 0px;
}

.page-2 small {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 4px 10px;
    border: 1px solid #c0daf0a8;
}


.page-1 i {
    color: black !important;
    position: absolute;
    right: 0;
    padding-right: 20px;
}

.page-2 i {
    color: black !important;
    position: absolute;
    right: 0;
    padding-right: 20px;
}


/**end of frist-heading-aria**/


/* start services area */


.singlebox-item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12 {
    padding: 45px;
    text-transform: capitalize;
    text-align: center;
}

.singlebox-item i {
    color: #ff7800;
    width: 100px;
    font-size: 58px;
    text-align: center;
    padding-bottom: 13px;
}


.singlebox-item h2 {
    text-transform: capitalize;
    font-size: 10px;
    font-size: 24px;
    font-weight: 600;
}

.singlebox-item.col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12 p {
    font-size: 14px;
    width: 75%;
    margin: auto;
    color: #7c7a7ad9;
}



.title-box h1::after {
    content: "";
    background: #ff5200;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 43%;
    margin: auto;
    transform: translate(-50%, 50%);
}


.title-box h1::before {
    content: "";
    background: #aa9595;
    width: 38px;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    transform: translate(-50%, 50%);
}

.service {
    padding: 71px 0px;
}


.title-box h1 {
    text-transform: capitalize;
    font-weight: 600;
}

.title-box p {
    color: #ccc;
    padding-top: 20px;
}


.title-box {
    position: relative;
}

/* end of services area */





/* start of form area */

.appo-box {
    background: #31cdb7;
    padding: 91px 0px;
}

.form {
    margin-left: 14%;
}

.form input {
    margin: 10px 10px;
    padding: 10px 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
}



textarea {
    margin-left: 2% !important;
    margin-top: 20px !important;
    width: 95%;
    height: 162px;
    padding: 16px;
    text-transform: capitalize;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px !important;
}


.bot {
    margin-top: 29px;
    margin-left: 10px;
    padding: 10px 33px;
    text-decoration: none;
    background: white !important;
    text-transform: capitalize;
    border-radius: 4px;
}


.bot:hover {
    color: rgb(255, 255, 255);
    background: #7348c2 !important;
    transition: 0.3s;
    text-decoration: none;

}

.appo-title {
    width: 100%;
    margin: auto;
    padding-left: 20px;
}

.appo-title h1 {
    font-size: 26px !important;
    width: 100%;
    text-transform: capitalize;
    padding-left: 20px;

}

.visit-list {
    width: 100%;
}

.visit-list ul li {
    list-style: none;
    padding: 10px 22px;
    text-transform: capitalize;
}

.visit-list ul li a {
    color: #777c77;
}

.visit-list ul li a i {
    background: #feffff;
    overflow: hidden;
    color: #31cdb7;
    margin-right: 16px;

}

.btn {
    text-transform: uppercase;
    border: 1px solid rgb(26, 25, 25) !important;
    margin-left: 88px;
}

.btn a {
    color: rgb(73, 70, 70);
    padding: 10px 10px;
    text-decoration: none;

}

.btn:hover a {
    text-decoration: none;
    color: white;
}


/* end of form area */








/* start all media quiary */





@media(max-width:576px) {
    .manag-img img {
        width: 100%;
        height: 250px;
    }

    .manag-title {
        text-align: center;
    }

    .btn {
        width: 100%;
        margin: auto !important;
    }

    .title-box h1::after {
        content: "";
        background: #ff5200;
        width: 100px;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: 55%;
        margin: auto;
        transform: translate(-50%, 50%);
    }


    .title-box h1::before {
        content: "";
        background: #aa9595;
        width: 38px;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: 55%;
        margin: auto;
        overflow: hidden;
        z-index: 1;
        transform: translate(-50%, 50%);
    }



}



@media(min-width:1227px) {

    .page1 strong {
        margin-right: 275px !important;
    }

}

@media(max-width:767px) {
    .visit-list {
        width: 100%;
        margin: auto !important;
    }

    .visit-list ul li a {
        color: #777c77;
        width: 100%;
        margin: auto;
    }

    .appo-title h1 {
        margin-top: 50px;
    }

}


@media(max-width:577px) {

    .btn {
        text-transform: uppercase;
        border: 1px solid rgb(26, 25, 25) !important;
        margin-left: 60px;
    }

}

/* end all media quiary */











