section.insurance {
    background: #ccc;
    padding: 58px 0px;
}

.ins {
    width: 100%;
    margin: auto;
    margin-bottom: auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 62px;
}

.ins h1 {
    font-size: 27px;
    font-weight: 700;
}
.image2 {
    background: white;
    border-radius: 3px;
    transition:0.3s;
}
.singlebox-img img {
    width: 100%;
    margin: auto;
}

.singlebox-title {
    width: 100%;
    padding: 25px 14px;
    overflow: hidden;
    margin: auto;
}

.singlebox-title h2 {
    text-transform: capitalize;
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
    margin-bottom: 16px;
}
.singlebox-title p {
    color: #292a2a;
    font-size: 14px;
    line-height: 24px;
}

a.button {
    color: #006553;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

a.button i {
    font-size: 13px;
    color: #38e9d1;
    padding-left: 5px;
    text-align: center;
    padding-top: -12px;
}

.image2:hover{box-shadow: 1px 1px 10px #8a8484;}

.image2:hover a.button{
    border-radius:20px;
    font-size: 13px;
    color: #ffffff;
    padding-left: 5px;
    text-align: center;
    background:#1fd572;
    padding:7px 15px;
    text-decoration:none;
    transition:0.3s;
   }


 @media(max-width:575px){
    .image2 {
        margin-bottom:20px!important;
        margin:auto;
        width:80%;
        background: white;
        border-radius: 3px;
        transition:0.3s;
    }
    .singlebox-img img {
        width: 100%;
        margin: auto;
    }
    
    .singlebox-title {
        width: 100%;
        padding: 25px 14px;
        overflow: hidden;
        margin: auto;
    }
    

 }  