.bg {
    background: #1f8be6;
}

.header-title h4 {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0px;
}


.icon {
    text-align: right;
    margin-top: 12px;
}

.icon a:last-child{margin-right:0px;}

.icon a {
    color: white;
    margin-right: 49px;
    margin-top: 28px;
}

.icon a i {
    color: white;
    margin-right: 11px;
}


u.navbar-nav {
    width: 100%;
    text-align: right;
    justify-content: right;
    margin-left: 35%!important;
   
   
}

a.nav-link {
    text-transform: uppercase;

}

li.nav-item {
    margin-right:16px;
    position: relative;
}

li.nav-item:last-child {
    margin-right: 0px;
}
.nav-item:hover a{color:rgb(28, 243, 28)!important;}
.row.bd {
    padding: 10px 0px;
}


.image{
    background-image: url("image/preview21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.h1title {
    padding: 177px 0px;
    width: 41%;
}
.h1title h1 {
    margin-top: -94px;
    color: white;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 37px;
}
.h1title p {
    color: white;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 26px;
}

button.btn.btn-warning a {
    color: black;
    text-transform: capitalize;
}

button.btn.btn-warning a i {
    margin-left: 10px;
    font-size: 13px;
}

.btn:hover a{color:white!important;text-decoration: none;}


.owl-dots {
    position: absolute;
    left: 46%;
    text-align: center;
    bottom: 7%;
    
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    outline: none;
}

button.owl-dot:hover  span{background:yellow!important;}
button.owl-dot.active span{
    color: yellow!important;
}
.owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f8f53e!important;
  
}

@media (max-width:992px){

    .header-title h4 {
        color: white;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 0px;
    }



}


@media (max-width:767px){

    .header-title h4 {
        color: white;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 0px;
        margin-left:50px;
        width:200px;
        margin:auto;
    }
    .icon {
        text-align: right;
        margin-top: 12px;
        width:300px;
        margin:auto;
       
    }
    .icon a {
        color: white;
        margin-right:0px;
        margin-top: 28px;
        font-size: 10px;
    }
    
    .icon a i {
        color: white;
        margin-right:5px;
        font-size: 10px;;
    }

}

@media (max-width:580px){

    .h1title {
        padding: 177px 0px;
        width: 100%;
        margin-left:20px;
    }
    .h1title h1 {
        margin-top: -94px;
        color: white;
        text-transform: capitalize;
        font-weight: 200;
        font-size: 25px;
    }
    .h1title p {
        color: white;
        font-size: 13px;
        margin-top: 24px;
        margin-bottom: 32px;
        line-height: 26px;
    }

    .owl-dots {
        position: absolute;
        left: 40%;
        text-align: center;
        bottom: 7%;
        
        
    }

}

@media (max-width:336px){

    .owl-dots {
        position: absolute;
        left: 36%;
        text-align: center;
        bottom: 7%;
        
        
    }




}
